/* fonts */

@font-face {
    font-family: "Kalista Script";
    src: url("../fonts/kalista-script-webfont.eot");
    src: url("../fonts/kalista-script-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kalista-script-webfont.woff2") format("woff2"), url("../fonts/kalista-script-webfont.woff") format("woff"), url("../fonts/kalista-script-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* RESET */

.all,
.all * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#slider-hfno {
    max-width: 1000px;
    background-color: #99cc66;
    border-radius: 20px;
}

#slider-hfno img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#slider-hfno figcaption {
    font-family: "Kalista Script", Arial, sans-serif;
    font-size: 3em;
    color: #666666;
    text-align: center;
    padding: 20px;
}

#slider-hfno .sld__control {
    text-align: center;
}

#slider-hfno .control__play,
#slider-hfno .control__pause {
    margin: 20px;
    margin-bottom: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
    color: #666666;
}

#slider-hfno .control__info {
    font-size: 12px;
    font-family: arial;
    color: #ffffff;
    padding: 20px;
}

#slider-hfno .sld__control button:hover,
#slider-hfno .sld__control button.active {
    color: #ffffff;
}